<link rel="stylesheet" href="/templates/template-5/style.css">
<div class="bingo-template bingo-template-5">
    <div class="rows">
        <div class="row mb-4 mb-md-n4 mb-mt-n4 no-gutters even flex-md-row-reverse">
            <div class="col-md d-flex align-items-center">
                <h3 class="text w-100 d-flex align-items-center ">
                    <span class="title py-2 px-3">第1步</span>
                    <span class="sub-title">產品需求評估</span>
                </h3>
            </div>
            <div class="cent col-md-1 d-none d-md-flex w-100 justify-content-center">
                <div class="cent-line d-flex align-items-center justify-content-center">
                    <span class="cent-o">&nbsp;</span>
                </div>
            </div>
            <div class="col-md">
                <div class="content p-4">
                    -工業設計（ID）<br>
                    -產品規格<br>
                    -國際標準要求（UL CE ...）<br>
                    -產品開發進度表（PDS）
                </div>
            </div>
        </div>
        <div class="row mb-4 mb-md-n4 mb-mt-n4 no-gutters ">
            <div class="col-md d-flex align-items-center">
                <h3 class="text w-100 d-flex align-items-center flex-row-reverse justify-content-start">
                    <span class="title py-2 px-3">第2步</span>
                    <span class="sub-title">設計和成本核實</span>
                </h3>
            </div>
            <div class="cent col-md-1 d-none d-md-flex w-100 justify-content-center">
                <div class="cent-line d-flex align-items-center justify-content-center">
                    <span class="cent-o">&nbsp;</span>
                </div>
            </div>
            <div class="col-md">
                <div class="content p-4">
                    - EE＆ME設計<br>
                    - 成本估算<br>
                    - 原型製作
                </div>
            </div>
        </div>
        <div class="row mb-4 mb-md-n4 mb-mt-n4 no-gutters even flex-md-row-reverse">
            <div class="col-md d-flex align-items-center">
                <h3 class="text w-100 d-flex align-items-center ">
                    <span class="title py-2 px-3">第3步</span>
                    <span class="sub-title">設計驗證</span>
                </h3>
            </div>
            <div class="cent col-md-1 d-none d-md-flex w-100 justify-content-center">
                <div class="cent-line d-flex align-items-center justify-content-center">
                    <span class="cent-o">&nbsp;</span>
                </div>
            </div>
            <div class="col-md">
                <div class="content p-4">
                    - 第二原型可能需要<br>
                    - 工具開始<br>
                    - 工程師構建<br>
                    - 功能，可靠性。 安全和老化測試
                </div>
            </div>
        </div>
        <div class="row mb-4 mb-md-n4 mb-mt-n4 no-gutters ">
            <div class="col-md d-flex align-items-center">
                <h3 class="text w-100 d-flex align-items-center flex-row-reverse justify-content-start">
                    <span class="title py-2 px-3">第4步</span>
                    <span class="sub-title">生產驗證</span>
                </h3>
            </div>
            <div class="cent col-md-1 d-none d-md-flex w-100 justify-content-center">
                <div class="cent-line d-flex align-items-center justify-content-center">
                    <span class="cent-o">&nbsp;</span>
                </div>
            </div>
            <div class="col-md">
                <div class="content p-4">
                    - 質量建設<br>
                    - 試運行<br>
                    - 最終規格<br>
                    - 通過AII要求的測試<br>
                    - 成本審查
                </div>
            </div>
        </div>
        <div class="row mb-4 mb-md-n4 mb-mt-n4 no-gutters even flex-md-row-reverse">
            <div class="col-md d-flex align-items-center">
                <h3 class="text w-100 d-flex align-items-center ">
                    <span class="title py-2 px-3">第5步</span>
                    <span class="sub-title">大量生產</span>
                </h3>
            </div>
            <div class="cent col-md-1 d-none d-md-flex w-100 justify-content-center">
                <div class="cent-line d-flex align-items-center justify-content-center">
                    <span class="cent-o">&nbsp;</span>
                </div>
            </div>
            <div class="col-md">
                <div class="content p-4">
                    每日生產計劃<br>
                    生產能力審查<br>
                    交貨
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>