$blue: #0192ff;
$purplight: #0F2541;
$default: #fff;
$purpDeep: #100F3F;
$blueOpacity: rgba(29, 134, 231, 0.89);
$grayBorder: #070404;
$grayDark: #E2E0E0;
$graylight: #F2F6FF;
$grayBG: #F4F4F4;
$blueTitleBG: #80C8FD;
$blueCD: #CDE5FE;
$blueTable: #f8fbfe;
$blueLi: #f4f9fe;
$inputBorder: #7D7D7D;
$grayText: #F2F6FF;
$grayTextDeep: #929292;
$blueMenuBG: #ebf6ff;
$red: #ff4d73;
$yellow: #FFC62F;
$greenLight: #6EB1A9;
$blueLightm: #42DEF3;
$grayback: #F8F8FA;
$grayColor: #646464;
$whiteLight: #fff;
$purpColor: #1D1854;
$brownlight: #C79B73;
$blacklight: #000;