<link rel="stylesheet" href="/templates/template-4/style.css">
<div class="bingo-template bingo-template-4 py-5">
    <div class="container">
        <h2 class="text-center">企業發展</h2>
        <hr>
        <ul class="list-unstyled row flex-row-reverse no-gutters">
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                1977
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    向我们的产品线介绍电源故障灯和多功能灯笼。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                1973
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    Germain成立于1973年。在香港生产多功能手电筒。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                1979
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    由于70年代的欧佩克石油危机。 手电筒和应急灯是每个家庭的必需品。 我们公司对照明产品的要求很高。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                1983
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    将应急照明和个人护理（剃须刀）引入产品线。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                1987
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    建立了注塑生产设备和工艺。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                1989
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    工厂从香港迁至中国深圳。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                1990
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    建立了模具制造设备和过程。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                1992
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    在东莞谢岗建立了新工厂。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                1993
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    引进并获得了节能灯（CFL）制造技术。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                1996
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    将家用电器（真空吸尘器，刨冰机）引入产品线。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                1999
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    在产品线中引入了音频项目（迷你组合，Disman）。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                2000
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    在产品线中引入了电池充电器和充电系统。 建立金属冲压制造设备和工艺。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                2001
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    开始与日本著名品牌合资成立CFL。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                2002
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    将电动园艺工具引入产品线。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                2003
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    开始开发和设计LED照明。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                2004
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    专注于投资新生产设施以实现垂直整合的战略。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                2010
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    建立包装生产设施。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                2014
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    建立SMT生产设施。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                2015
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    将产品线扩展到电子服装。
                </div>
            </li>
            <li class="col-md-6">
                <div class="time">
                    <div class="line d-none d-md-block"><span></span></div>
                    <div class="circle">
                        <div class="sector"></div>
                        <div class="wrap">
                            <div class="inner">
                                2016
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event">
                    引入了精益生产的概念，并建立了用于产品组装的细胞系。
                </div>
            </li>
        </ul>
    </div>
</div>
<p></p>