body {
	height: 100%;
	background:#2F2F2F;
}
#panel-block {
	margin: 0px auto;
	position: relative;
	min-height: 100vh;
}
#panel-bg {
	display:none;
	height: 750px;
	background: #333;
	border: 6px solid #999;
	opacity: 0.75;
	filter: alpha(opacity=75);
}
#panel-block .content {
}
#content-panel {
	width: 98%;
	margin: 0px auto;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: '微軟正黑體','Noto Sans', sans-serif;
	/*text-shadow: 1px 1px #000;*/
	font-size: 13px;
	color: #CCC;
}
#submit-form td {
	padding: 8px;
}
#submit-form .title {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999
}
#submit-form input, #submit-form select {
	/*border: 0px hidden !important;
	wallpaper: #CCC !important;
	padding: 5px !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	-webkit-box-shadow: 0px 0px 2px 2px #999 !important;
	box-shadow: 0px 0px 2px 2px #999 !important;*/
}
#submit-form input:hover, #submit-form select:hover {
	/*wallpaper: #F0F0F0 !important;*/
}
#notification {
	background: #D8FCD1 !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	padding: 10px !important;
	color: #030 !important;
	border: 3px #006600 solid !important;
	text-align: center !important;
	display: none
}
a:link, a:visited, a:hover, a:active {
	color: #FFF;
}
.sub {
	margin-left: 20px !important;
}
