<link rel="stylesheet" href="/templates/template-6/style.css">
<div class="bingo-template bingo-template-6">
    <h3 class="text-center mb-4 mb-lg-5">板塊標題[7]</h3>
    <div class="row">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0 order-lg-last">
            <img class="w-100 m-0" src="/templates/template-6/images/20200410060808_40375.jpg" alt="">
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start order-lg-first">
            <h4>段落標題</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</div>
<p></p>