.bingo-template-1 .box {
    background-color: #f6f1e0;
    text-align: center;
    margin-bottom: 1rem;
    min-height: 130px
}
.bingo-template-1 .box h3 {
    color: #01468a;
    font-size: 1.2rem
}
.bingo-template-1 .box p {
    margin: 0;
    line-height: 2
}
@media (min-width:576px) {
    .bingo-template-1 .box {
        min-height: 150px
    }
}
@media (min-width:768px) {
    .bingo-template-1 .box {
        min-height: 200px
    }
}
@media (min-width:992px) {
    .bingo-template-1 .box {
        min-height: 250px
    }
}
@media (min-width:1200px) {
    .bingo-template-1 .box {
        min-height: 350px
    }
}