<link rel="stylesheet" href="/templates/template-1/style.css">
<div class="bingo-template-1">
    <div class="row">
        <div class="col-md-4">
            <div class="box d-flex justify-content-center align-items-center">
                <div class="inner">
                    <h3>日本首頁</h3>
                    <p>www.japanhome.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box d-flex justify-content-center align-items-center">
                <div class="inner">
                    <h3>香港電視台</h3>
                    <p>www.hktv.com</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box d-flex justify-content-center align-items-center">
                <div class="inner">
                    <h3>Germain 主頁</h3>
                    <p>inquiry@germain.com.hk</p>
                    <p>info@germain.com.hk</p>
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>